html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  padding-top: 100px;
}

.link {
  color: aqua;
}

button {
  background: #3f448c;
  color: #fff;
  padding: .3rem .5rem;
  border-radius: 4px;
  outline: none;
  font-size: 1.2rem;
  border: 1px solid #2e337b;
  margin: 0 1rem;
}